{% extends 'admin/master.html' %}
{% block body %}
<title xmlns="http://www.w3.org/1999/html">Report</title>
<!-- import plugin script -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<!-- bar chart canvas element -->
<!--<canvas id="mychart" width="600" height="400"></canvas>-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<body>
<h1> BIỂU ĐỒ DOANH THU</h1>
<canvas id="myChart"></canvas>
<form method="post" >
    <br>
    <br>
    <select name="typechart">
        <option value="1">Qua các năm</option>
        <option value="2">Qúy 1</option>
        <option value="3">Qúy 2</option>
        <option value="4">Qúy 3</option>
        <option value="5">Qúy 4</option>
        <option value="6">Các tháng trong năm</option>

    </select>
    <input type="submit" value="Show" class="btn btn-danger btn-lg"/>
</form>
<script>
    var data = {{ chartJSON | safe }}
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, data);
</script>
</body>
<style>
    body{
    background :linear-gradient(90deg,#db91e0,white);
    background-repeat : no-repeat ;
    height : 100vh ;
    background-size : cover;
    text-align: center;
    }
    canvas{
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        background : white;
        max-width: 1200px;
        max-height:1200px;
    }
    select{
        height : 45px;
        option{
        height : 30px;
        }
    }
</style>
{% endblock %}