<link href="../static/css/FlightRoute.css" rel="stylesheet"/>
{% extends 'base/base.html' %}

{% block header %}

{% endblock %}
{% block content %}
<div class="forms">
    <form class="form">
        <h1>QUẢN LÝ TUYẾN BAY</h1>
        <div class="topic-table">
            <b>Thông tin các tuyến bay</b>
        </div>

        <div class="form-group">
            <div class="row">
                <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
                    <thead>
                    <tr>
                        <th class="col">Mã tuyến bay</th>
                        <th class="col">Sân bay đi</th>
                        <th class="col">Sân bay đến</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if list_route %}
                    <tr>
                        {% for f in list_route %}
                        <td class="col">{{f.id}}</td>
                        <td class="col">{{f.name1}}</td>
                        <td class="col">{{f.name2}}</td>
                        {% endfor %}
                    </tr>
                    {% else %}
                    <tr>
                        <td class="col">ĐN-HN</td>
                        <td class="col">ĐN</td>
                        <td class="col">HN</td>
                    </tr>
                    <tr>
                        <td class="col">ĐN-HN</td>
                        <td class="col">ĐN</td>
                        <td class="col">HN</td>
                    </tr>
                    <tr>
                        <td class="col">ĐN-HN</td>
                        <td class="col">ĐN</td>
                        <td class="col">HN</td>
                    </tr>
                    <tr>
                        <td class="col">ĐN-HN</td>
                        <td class="col">ĐN</td>
                        <td class="col">HN</td>
                    </tr>
                    <tr>
                        <td class="col">ĐN-HN</td>
                        <td class="col">ĐN</td>
                        <td class="col">HN</td>
                    </tr>
                    <tr>
                        <td class="col">ĐN-HN</td>
                        <td class="col">ĐN</td>
                        <td class="col">HN</td>
                    </tr>
                    <tr>
                        <td class="col">ĐN-HN</td>
                        <td class="col">ĐN</td>
                        <td class="col">HN</td>
                    </tr>
                    {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
        <br>
    </form>
</div>

{% endblock %}