<link href="../static/css/manageFlight.css" rel="stylesheet"/>

{% extends 'base/base.html' %}
{% block header %}

{% endblock %}
{% block content %}

<div class="forms">
    <form class="form">
        <h1>QUẢN LÝ CHUYẾN BAY</h1>
        <div class="topic-table">
            <b>Danh sách chuyến bay</b>
        </div>
        <div class="form-group">
            <div class="row">
                <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">

                    <thead>
                    <tr>
                        <th class="col">Sân bay đi</th>
                        <th class="col">Sân bay đến</th>
                        <th class="col">Khởi hành</th>
                        <th class="col">Số ghế trống</th>
                        <th class="col">Số ghế đặt</th>
                    </tr>
                    </thead>
                    {% if list_flight %}
                    <tbody>
                    {% for f in list_flight %}
                    <tr>

                        <td class="col"><a onclick="addToDetail({{f.id}})" href="{{ url_for('schedule') }}">{{f.name1[1]}}</a>
                        </td>
                        <td class="col">{{f.name2[1]}}</td>
                        <td class="col">{{f.date_from}}</td>
                        <td class="col">{{f.empty}}</td>
                        <td class="col">{{f.booked}}</td>


                    </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>

    </form>
</div>
{% endblock %}