<head>
    <title>Form Sell Ticket</title>
     <link href="../static/css/DetailFlight.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<!--  <img src="../static/images/bg1.jpg" alt="bg1"/>-->
    <div class="forms" style="background-image: url({{ url_for('static',filename='img/bgd.jpg') }});">
        <form class="form">
            <h1>NHẬN LỊCH CHUYẾN BAY</h1>
            <br>
            <br>
            {% if f %}

                <div class="form-group ">
                 <label for = "idf">Mã chuyến bay:</label>
                         <input type="text" class="form-control col-md-8" name="IDFlight" id="idf" value="{{f.id}}">
                    <br>
                                <label>Sân bay đi:</label>
                          <input type="text" class="form-control col-md-8" value="{{f['name1'][1]}}">
                    <br>
                     <label>Sân bay đến:</label>
                          <input type="text" class="form-control col-md-8" value="{{f['name2'][1]}}">
                    <br>
                    <label for="dte-begin">Ngày đi:</label>
                          <input class="form-control" id="dte-begin" value="{{f['date_from']}}">
                    <br>
                    <label for="time-begin">Thời gian đi:</label>
                              <input type="text" class="form-control" id="time-begin" value="{{f['time_begin']}}">
                    <br>
                    <label for="dte-end">Ngày đến :</label>
                          <input type="text" class="form-control" id="dte-end" value="{{f['date_end']}}">
                    <br>
                     <label for="time-end">Thời gian đi:</label>
                              <input type="text" class="form-control" id="time-end" value="{{f['time_end']}}">
                    <br>
                    <label for="amt1">Số ghế loại 1:</label>
                              <input type="text" class="form-control" id="amt1" value="{{f['seat1']}}">
                    <br>
                    <label for="amt2">Số ghế loại 2:</label>
                              <input type="text" class="form-control" id="amt2" value="{{f['seat2']}}">
                </div>


                    <br>
            {% endif %}
            {% if list_detail %}
                <div class ="topic-table">
                    <b>Các sân bay trung gian</b>
                </div>
                <br>
                <div class ="form-group">
                    <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
                        <div class="row">
                            <thead>
                                <tr>
                                    <th class="col">Sân bay trung gian</th>
                                    <th class="col">Thời gian dừng</th>
                                    <th class="col">Ghi chú</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in list_detail%}
                                    <tr>
                                        <td class="col">{{i.inter_airport}}</td>
                                        <td class="col">{{i.waiting_time}}</td>
                                        {% if i.note == None %}
                                        <td class="col">Không có</td>
                                        {% else %}
                                        <td class="col">{{i.note}}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </div>
                    </table>
                </div>
            <br>
            {% endif %}

            <div class="submit-form">
                <center><a href="{{url_for('ticket')}}" class="sub">Đặt vé</a></center>
            </div>

        </form>
    </div>

</body>
</html>