forms{
    background:rgba(0,0,0,0.5);
    margin-left: 400px;
    margin-right : 400px;
    margin -bottom :0;
    border-radius : 10px;
    padding : 1px;
}
.forms h1{
    text-align :center;
    font-size : 50px;
    color : #131212 ;
    margin-bottom:30px;
}
.form{
    margin :50px;
}
.form-group{
    color : #000000;
}
.topic-table{
    padding : 10px 10px 10px;
    background-color : #add8de;
    margin : 0 auto;
    width : 100%;
}
.forms .submit-form .sub{
    margin : 20px 0 0px 75px ;
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 50px ;
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    width : 200px;
}
.row-group{
    display:flex;
    margin-bottom:20px;
}
.row-group .form-group{
    width : 400px;
    margin :5px ;
}
.table-fixed{
    margin-left:14px;
    margin-top:0;
    min-width : 97.4%;

}
.table-fixed thead,
.table-fixed thead  th{
    background: #ae2b2b;
    color : white;


}
.table-fixed thead tr th{
    border: 0 !important;
}
.table-fixed body tr td:last-child {
    border-right : 0;

}
.table-fixed tbody td,
.table-fixed thead tr th {
    float : left;
    font-size : 14px;
    padding-left : 0px !important;
    text-align : center;

}
.table-fixed .col{
    width : 20%;
}

.table-fixed tbody {
    display : block;
    height :200px;
    overflow-y :auto;
    color : #150e0e;
}
.table-fixed tr{
    display : block;
}