@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
padding : 0;
margin : 0;
box-sizing: border-box;
outline : none;
font-family: 'Roboto', sans-serif;
}
.forms h1{
text-align : center;
font-size : 70px;
color : #0941bb;
}
.form{
margin :0 100px;
}
.form-group{
color : #000000;
}
.forms .submit-form .sub{
margin : 20px 170px 0px 170px ;
background-color: grey;
border: none;
color: white;
padding: 10px 50px ;
text-decoration: none;
cursor: pointer;
text-align:center;
width : 200px;
}
.row-group{
display:flex;
}
.row-group .form-group{
width : 600px;
margin :5px ;
}