@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    outline : none;
    font-family: 'Roboto', sans-serif;
}

.forms h1{
    text-align :center;
    margin-bottom :50px;
    font-size : 70px;
    color : #0941bb ;
}
.form{
     margin :0 100px;
}
.form-group{
    color : #000000;
}
.topic-table{
    padding : 10px 10px 10px;
    background-color : #add8de;
    margin : 0 auto;
    width : 100%;
    font-size : 15px;
}

.submit-form .sub{
    margin : 10px 50px ;
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 50px;
    text-decoration: none;
    cursor: pointer;
}
/*TABLE*/


.table-fixed{
    margin-left:14px;
    margin-top:0;

    min-width : 97.3%;

}
.table-fixed thead,
.table-fixed thead  th{
    background: #ae2b2b;
    color : white;


}
.table-fixed thead tr th{
    border: 0 !important;
}
.table-fixed body tr td:last-child {
    border-right : 1;

}
.table-fixed tbody td,
.table-fixed thead tr th {
    float : left;
    font-size : 15px;
    padding-left : 0px !important;
    text-align : center;

}
.table-fixed .col{
    width : 20%;
    padding-top :5px;
    padding-bottom:5px;
}

.table-fixed tbody {
    display : block;
    height :200px;
    overflow-y :auto;
    color : #38392d;
}
.table-fixed tr{
    display : block;

}