<!--<footer class="footer mt-auto">-->
<!--    <div class="copyright bg-white">-->
<!--        <p>-->
<!--            &copy; <span id="copy-year"></span> Công nghệ phần mềm :-->
<!--            <a-->
<!--                    class="text-primary"-->
<!--                    href=""-->
<!--                    target="_blank"-->
<!--            >Nhóm </a>.-->
<!--        </p>-->
<!--    </div>-->
<!--    <script>-->
<!--                var d = new Date();-->
<!--                var year = d.getFullYear();-->
<!--                document.getElementById("copy-year").innerHTML = year;-->

<!--    </script>-->
<!--</footer>-->