<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">MY FLIGHTS</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            {% if session.user %}

                <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-unlock" ></i></a>
           <ul class="dropdown-menu" style="padding: 15px;min-width: 150px">
                <div class="row">
                    <i class="fa fa-bars"></i>
                            <div class="col-md-12">
                                <h5 >{{ session.user[1] }}</h5>
                                <a href="#">Setting </a>
                                <br>
                                <a href="{{ url_for('logout') }}">Log out</a>
                            </div>
                </div>
               </ul>
             {% else %}
            <li class="nav-item">
                <a class="nav-link" href="admin">Admin</a>
             </li>
            <li class="nav-item">
            <a class="nav-link" href="employee/login">Log In</a>
          </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>