<aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
        <!-- Aplication Brand -->
        <div class="app-brand">
            <a href="/" title="Dashboard">
                <svg
                        class="brand-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid"
                        width="30"
                        height="33"
                        viewBox="0 0 30 33"
                >
                    <g fill="none" fill-rule="evenodd">
                        <path
                                class="logo-fill-blue"
                                fill="#7DBCFF"
                                d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
                        />
                        <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z"/>
                    </g>
                </svg>
                <span class="brand-name text-truncate">TRANG CHỦ</span>
            </a>
        </div>
        <!-- begin sidebar scrollbar -->
        <div class="sidebar-scrollbar">

            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="has-sub active expand">
                    <a class="sidenav-item-link" href="/pay">


                        <i class="mdi mdi-cart-plus"></i>
                        <span class="nav-text">GIỎ VÉ CHƯA THANH TOÁN</span></b>
                    </a>
                </li>
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/search"
                       aria-expanded="false" aria-controls="tables">
                        <i class="mdi mdi-search-web"></i>
                        <span class="nav-text">Tìm kiếm chuyến</span>
                    </a>
                </li>
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                       data-target="#forms"
                       aria-expanded="false" aria-controls="forms">
                        <i class="mdi  mdi-file-document-box"></i>
                        <span class="nav-text">QL chuyến bay</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse" id="forms"
                        data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li>
                                <a class="sidenav-item-link" href="/manage-flight">
                                    <span class="nav-text">Chuyến bay trong ngày</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="/manage-flight">
                                    <span class="nav-text">Các tuyến bay  </span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                       data-target="#tables"
                       aria-expanded="false" aria-controls="tables">
                        <i class="mdi mdi-table"></i>
                        <span class="nav-text">QL sân bay</span><b class="caret"></b>
                    </a>
                    <ul class="collapse" id="tables"
                        data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li>

                                <a class="sidenav-item-link" href="/manage-airport">
                                    <span class="nav-text">Các sân bay</span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/manage-flight-route">
                        <i class="mdi mdi-table"></i>
                        <span class="nav-text">QL tuyến bay</span>
                    </a>
                </li>
                <li class="has-sub">
                    <a class="sidenav-item-link" href="/admin"
                       aria-expanded="false" aria-controls="charts">
                        <i class="mdi mdi-account-circle"></i>
                        <span class="nav-text" style="color : red;">Admin</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
