@*DataTables*@
    <link href="/Content/Admin/jquery.dataTables.min.css" rel="stylesheet" />
    @*!DataTables*@
    <!-- Bootstrap Core CSS -->
    <link href="/Content/Admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Content/Admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="/Content/Admin/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/Admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/Content/Admin/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Content/Admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin/Home">Trang Quản Lý</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                @Html.Action("AdminProfile", "Login")
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-bars"></i> Sản phẩm<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/Home/ShowListBook">Sách</a>
                                </li>
                                <li>
                                    <a href="/Admin/Home/ShowListCategory">Thể loại</a>
                                </li>
                                <li>
                                    <a href="/Admin/Home/ShowListAuthor">Tác giả</a>
                                </li>
                                <li>
                                    <a href="/Admin/Home/ShowListPublish">Nhà xuất bản</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cogs"></i> Hệ thống<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/Home/ShowUser">Tài khoản</a>
                                </li>
                                <li>
                                    <a href="/Admin/Home/Order">Đơn hàng</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Admin/Home/FeedBack"><i class="fa fa-file"></i> Phản hồi</a>
                        </li>
                        <li>
                            <a href="/Admin/Home/Report"><i class="fa fa-file"></i> Báo cáo doanh thu</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
       <script src="/Content/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    @*DataTables*@
    <script src="/Content/Admin/js/jquery.dataTables.min.js"></script>
    @*!DataTables*@
    <script src="/Content/Admin/js/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Content/Admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Content/Admin/dist/js/sb-admin-2.js"></script>
